<div class='card card-block' id="homecard">
	<h1>Welcome {{ user.profile.firstName }}!</h1>
	<h2>What would you like to do?</h2>
	<div class='action-button'>
		<a href="#profile" id='show-goal-form-button' type='button' class='btn btn-goal btn-primary page-scroll'>Update my financial information</a>
	</div>
	<div class='action-button'>
		<a href="#goals" id='show-update-form-button' type='button' class='btn btn-update btn-primary page-scroll'>Enter a financial goal</a>
	</div>
</div>