<div id='products' class='card card-block'>
    <h2>Our Products</h2>
    {{#if products}}
    <div id='product-list'>
        <ul>
            {{#each products}}
            <p><a id="{{this._id}}" href="#detail{{this._id}}" class="toggleDetails">{{this.name}}</a></p>
            {{/each}}
        </ul>
    </div>
    {{else}}
        <h3>You're all good with this goal!</h3>
    {{/if}}
</div>