body {
  background-color: #f5f5f5;
  position: relative;
}

h1, h2, h3, h4, h5 {

}

input {
  margin-bottom: 10px;
}
.wrapper {
  
}

.flip {
  width: 400px;
  height: 276px;
  position: relative;
  margin: 80px auto 40px;
  perspective: 800px;
}
.flip a {
  color: #004570;
}

.login-signup { 
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;

}

 .login-signup .face {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;  
}

.login-signup .login {
}
.login-signup .signup {
  transform: rotateY( 180deg );
}

.flipped {
  transform: rotateY( 180deg );
}

.login-form {
 /*center login form on screen*/ 
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #66B2FF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

#update-form {

}

#goal-form {

}

.action-button {
  padding: 10px;
}

.form-control {
    padding: 10px;
}

.card.card-block {
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #fff;
  margin-bottom: 20px;
}

#homecard{
  margin-top: 60px;
}

.formsection.container{
  width: inherit;
}

.glyphicon.toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";   
    float: right;      
    color: grey;      
}
.glyphicon.toggle.collapsed:after {
    content: "\e080";   
}

.footer{
  padding-top: 20px;
  padding-bottom: 30px;
}

#contact-info p{
  border-top: solid 1px #ddd;
  text-align: center;
  border-bottom: solid 1px #ddd;
  padding: 10px;
}

#copyright p{
  text-align: center;
}

.input-group {
  margin-bottom: 10px;
}

footer p {
  color: #707070;
}