.col-sm-6 {
    margin: 0 auto;
    float: none;
}
.flip {
  width: 400px;
  height: 276px;
  position: relative;
  margin: 40px auto 40px;
  perspective: 800px;

}
.login-signup { 
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;

}

 .login-signup .face {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;  
}

.login-signup .login {
}
.login-signup .signup {
  transform: rotateY( 180deg );
}

.flipped {
  transform: rotateY( 180deg );
}

.login-form {
 /*center login form on screen*/ 
    padding: 30px;
    background: lightgray;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.form-control {
    padding: 10px;
}