<section class="flip">
<div class="login-signup">
    <div class="face login">
        <form id="login-form" class="login-form" action="/login" method="post">
            <h1 class = "form-signin-heading"> Login</h1>
            <label for="loginEmail" class="sr-only"> Email Address</label>
            <input type="email" name="username" id="loginEmail" class="form-control" placeholder="email address" required>
            <label for="loginPassword" class="sr-only"> Password</label>
            <input type="password" name="password" id="loginPassword" class="form-control" placeholder="password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" id="login-remember-checkbox">Remember me
                </label>
            </div>
            <input class='btn btn-primary' type="submit" id="login-button" value="Sign In"/>
            <div class = "new-signup">
                <a id="new-signup-link" href="">New User? Sign Up!</a>
            </div>
            {{#if error }}
            <p class="alert alert-danger" id="errorText">{{error}}</p>
            {{/if}}
        </form>
    </div>
    <div class="face signup">
        <form id="signup-form" class="login-form">
            <h1 class = "form-signup-heading"> Sign Up</h1>

            <label for="username" class="sr-only">Username</label>
            <input type="email" id="username" class="form-control" placeholder="Email" required>

            <label for="password" class="sr-only"> Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" required>

            <label for="firstName" class="sr-only">firstName</label>
            <input type="text" id="firstName" class="form-control" placeholder="First Name" required >

            <label for="middleInit" class="sr-only">Middle Init</label>
            <input type="text" id="middleInit" class="form-control" placeholder="Middle Initial" required >

            <label for="lastName" class="sr-only">lastName</label>
            <input type="text" id="lastName" class="form-control" placeholder="Last Name" required >

            <div class="input-group">
                    <label for="year" class="sr-only">DOB Year</label>
	            	<input type="number" id="year" min="1900" max="2016"class="form-control"  placeholder="YYYY" required >
					<span class="input-group-addon">-</span>
                    <label for="month" class="sr-only">DOB Month</label>
					<input type="number" id="month" min="1" max="12" class="form-control" placeholder="MM" required >
					<span class="input-group-addon">-</span>
                    <label for="day" class="sr-only">DOB Day</label>
					<input type="number" id="day" min="1" max="31" class="form-control" placeholder="DD" required >
			</div>

            <label for="noDependents" class="sr-only">noDependents</label>
            <input type="number" id="noDependents" class="form-control" placeholder="No. of Dependents" required >

            <label for="zipCode" class="sr-only">zipCode</label>
            <input type="text" id="zipCode" class="form-control" placeholder="Zip Code" required >

            <label for="monthlyIncome" class="sr-only">monthlyIncome</label>
            <input type="number" id="monthlyIncome" class="form-control" placeholder="Monthly Income" required >

            <label for="desiredRetirementAge" class="sr-only">desiredRetirementAge</label>
            <input type="number" id="desiredRetirementAge" class="form-control" placeholder="Desired Retirement Age" required >

            <label for="stocks" class="sr-only">stocks</label>
            <input type="number" id="stocks" class="form-control" placeholder="How much money do you have in stocks?" required >

            <label for="bonds" class="sr-only">bonds</label>
            <input type="number" id="bonds" class="form-control" placeholder="How much money do you have in bonds?" required >

            <label for="cash" class="sr-only">cash</label>
            <input type="number" id="cash" class="form-control" placeholder="How much uninvested cash do you have?" required >

            <label for="retirementAccounts" class="sr-only">retirementAccounts</label>
            <input type="number" id="retirementAccounts" class="form-control" placeholder="How much money do you have in retirement accounts?" required >

            <label for="annuities" class="sr-only">annuities</label>
            <input type="number" id="annuities" class="form-control" placeholder="How much money do you have in annuites?" required >

            <label for="property" class="sr-only">property</label>
            <input type="number" id="property" class="form-control" placeholder="How much is all your property worth?" required >


            <label for="other" class="sr-only">other</label>
            <input type="number" id="other" class="form-control" placeholder="How much are all your other asssets worth?" required >

            <label for="savingsRateOfIncome" class="sr-only">savingsRateOfIncome</label>
            <input type="number" id="savingsRateOfIncome" class="form-control" placeholder="What percentage of your income do you save each month?" required >

            <label for="car" class="sr-only">car</label>
            <input type="number" id="car" class="form-control" placeholder="How much do you spend on transportation a month?" required >

            <label for="rentOrMortgage" class="sr-only">rentOrMortgage</label>
            <input type="number" id="rentOrMortgage" class="form-control" placeholder="How rent or mortgage do you pay a month?" required >

            <label for="groceries" class="sr-only">groceries</label>
            <input type="number" id="groceries" class="form-control" placeholder="How much do you spend on groceries/food a month?" required >

            <label for="bills" class="sr-only">bills</label>
            <input type="number" id="bills" class="form-control" placeholder="How much do you spend on bills a month" required >

            <label for="otherExpenses" class="sr-only">otherExpenses</label>
            <input type="number" id="otherExpenses" class="form-control" placeholder="How much are your other montly expenses?" required >

            <label for="mortgage" class="sr-only">mortgage</label>
            <input type="number" id="mortgage" class="form-control" placeholder="How much do have left on your mortgage?" required >

            <label for="homeEquityLoans" class="sr-only">homeEquityLoans</label>
            <input type="number" id="homeEquityLoans" class="form-control" placeholder="What is the amount of your home equity loans?" required >

            <label for="studentLoans" class="sr-only">studentLoans</label>
            <input type="number" id="studentLoans" class="form-control" placeholder="What is the amount of your student loans?" required >

            <label for="creditCardDebt" class="sr-only">creditCardDebt</label>
            <input type="number" id="creditCardDebt" class="form-control" placeholder="How much credit card debt do you have ?" required >

            <label for="otherDebt" class="sr-only">otherDebt</label>
            <input type="number" id="otherDebt" class="form-control" placeholder="What is the total amount of all your other debt?" required >

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" id="signup-remember-checkbox">Remember me
                </label>
            </div>
            <button class="btn btn-signup btn-primary" type="submit" id="signup-button">Sign Up</button>
            <div class = "back-to-login">
                <a id="back-to-login-link" href="">Back to Login</a>
            </div>
        </form>
    </div>
</div>
</section>