<div class='card card-block'>
    <h2>Our Products</h2>
    <ul>
        {{#if products}} 
            {{#each products}}
            <p>{{name}}: {{URL}}</p>
            {{/each}}
        {{else}}
            <a href="/financialProducts">Check out all of our products!</a>
        {{/if}}
    </ul>
</div>